<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Création d'un utilisateur</title>
</head>
<body>
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <input type="submit" value="save">
    {{ form_end(form) }}
</body>
</html>